.result-container {
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box-links {
  display: flex;
  justify-content: space-between;
}

.box-game {
  flex-grow: 1;
}

.box-manage-link {
  margin: 2rem;
}

.box-home-link {
  margin: 2rem;
}
