.result-container {
  margin-top: 2rem;
}

.box {
  flex-grow: 1;
  position: relative;
}

.box-visuals {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.box-manage-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
}

.box-home-link {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}
