.boxes-list {
  margin-left: 15rem;
  font-size: 1.5rem;
}

.box-list-box {
  margin: 1rem 0;
}

.box-manage-link {
  margin-left: 1rem;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list-card {
  width: 10vw;
  text-align: center;
  margin: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
}

.cards-list p {
  margin: 0;
}
