.box-manager {
  margin: 0 10rem;
}

.box-manager-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-manager-language {
  display: flex;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list-card {
  text-align: center;
  margin: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  flex-grow: 1;
}

.cards-list p {
  margin: 0;
}

.slot-list {
  display: flex;
  justify-content: space-around;
}

.slot-list-label {
  font-weight: bold;
}

.slot-list-label-level {
  margin: 0;
  margin-top: 0.25rem;
}

.slot-list-label-select {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .box-manager {
    margin: 0 1rem;
  }

  .box-manager-links h1 {
    font-size: 1.5rem;
  }

  .slot-list-label {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
  }

  .slot-list {
    display: flex;
    flex-direction: column;
  }

  .slot-list input {
    width: 4rem;
  }
}
