.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list-card {
  width: 10vw;
  text-align: center;
  margin: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
}

.cards-list p {
  margin: 0;
}

.slot-list {
  display: flex;
  justify-content: space-around;
}
