.cardstack {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.stack-card {
  height: 3rem;
  flex-grow: 1;
  margin-left: 1px;
  border-radius: 0.1rem;
  max-width: 2.5rem;
}

.stack-card:first-of-type, .active-card {
  margin-left: none;
}

.active-card {
  height: 4rem;
}
