.cardstack {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.stack-card {
  height: 3rem;
  flex-grow: 1;
  margin-left: 1px;
  border-radius: 0.1rem;
  max-width: 2.5rem;
  position: relative;
}

.stack-card p {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.stack-card:first-of-type, .active-card {
  margin-left: none;
}

.active-card {
  height: 4rem;
}
