.new-box-form {
  display: flex;
}

.new-box-form * {
  margin: 0 0.5rem;
}

.new-box-form:first-child {
  margin-left: 0;
}

.new-box-form p {
  margin: 0;
}

.new-box-button {
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .new-box-form {
    flex-direction: column;
  }

  .new-box-form > p {
    padding-bottom: 0.5rem;
  }

  .new-box-form > select, .new-box-form > input {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }

  .new-box-button {
    margin: 0 auto;
    padding: 0.5rem 2rem;
  }
}
