.slot-form {
  display: flex;
  flex-direction: column;
}

.slot-from-title {
  text-align: center;
  margin: 0.25rem 0;
}

@media only screen and (max-width: 600px) {
  .slot-form {
    flex-direction: row;
    justify-content: right;
    justify-content: space-around;
  }
}
