.quiz-input {
  font-size: 2rem;
}

.quiz-form {
  display: flex;
  justify-content: center;
}

.submit-input {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 1rem;
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 0 1rem;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .quiz-form {
    flex-direction: column;
    padding: 0 0.5rem;
  }
  .submit-input {
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
