.slots {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.slot {
  max-width: 15vw;
  min-width: 15vw;
  padding: 0 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 2px solid #DDD;
}

.slot p, .slot h3 {
  margin: 0.5rem 0;
  padding: 0;
}

.slot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .slots {
    display: none;
  }
}
