.boxes-list {
  margin: 0 15rem;
  font-size: 1.5rem;
}

.box-list-box {
  margin: 1rem 0;
  display: flex;
}

.box-list-box > * {
  margin-right: 0.5rem;
}

.boxes-list-box-link p {
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.boxes-list-box-link {
  display: flex;
}

.boxes-list-count {
  background-color: #fc3d39;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 600px) {
  .boxes-list {
    margin: 0 0.5rem;
  }
}
