.new-card-form {
  display: flex;
}

.new-card-form > *{
  margin-right: 0.5rem;
}

.card-submit-button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .new-card-form input {
    width: 40%;
  }
}
