.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-link-left {
  margin-right: 2rem;
}

.nav-link-right {
  margin-left: 2rem;
}

.nav-link-left > svg, .nav-link-right > svg {
  height: 2rem;
  width: 2rem;
}
