.card {
  margin: 0 auto;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.card p {
  margin: 0;
  display: inline;
}

.card-question {
  border-bottom: 3px solid #DDD;
  padding: 0 0.5rem;
}

.card-language {
  padding-left: 0.5rem;
  color: #777;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-top: 0;
  }
}
